In [85]:
import torch
import pandas as pd
from torch.utils.data import Dataset, DataLoader

In [86]:
train_data = pd.read_csv('/Users/arponbiswas/Deep-Learning-Prejects/NeuroCalculator/Dataset/Train_Dataset/train_dataset.csv')
test_data = pd.read_csv('/Users/arponbiswas/Deep-Learning-Prejects/NeuroCalculator/Dataset/Test_Dataset/test_dataset.csv')

In [87]:
train_data

     num1  num2  sum
0       0     0    0
1       0     1    1
2       0     2    2
3       0     3    3
4       0     4    4
..    ...   ...  ...
116    10     6   16
117    10     7   17
118    10     8   18
119    10     9   19
120    10    10   20

[121 rows x 3 columns]

In [88]:
torch.tensor(train_data[['num1', 'num2']].values)[0]

tensor([0, 0])

In [89]:
len(torch.tensor(train_data['sum'].values))

121

In [90]:
class CustomDataset(Dataset):
    def __init__(self, data):
        self.x = torch.tensor(data[['num1', 'num2']].values)
        self.y = torch.tensor(data['sum'].values)
    def __getitem__(self, idx):
        return self.x[idx], self.y[idx]
    def __len__(self):
        return len(self.y)

In [92]:
train_ds = CustomDataset(train_data)
test_ds = CustomDataset(test_data)

In [ ]:
train_dl = DataLoader(train_ds, batch_size=1, shuffle=True)